html{
    width: 100%;
    position: absolute;
}

body{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

picture img {
    width: 100%;
}




.outer-container {
    width: 100%;
}

.block {
    width: 100%;
    border: 1px solid white;
    background-color: gray;
    text-align: center;
    padding: .33rem 0;
}

@media only screen and (min-width: 768px) {
    .small {
        display: none;
    }
    .medium {
        display: block;
    }
    h1 {
        color: red;
    }

    .block {
        width: 49%;
        float: left;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .small,
    .medium {
        display: none;
    }
    .large {
        display: block;
    }
    h1 {
        color: gray;
    }
}

@media only screen and (min-width:1200px) {
    .small,
    .medium,
    .large {
        display: none;
    }
    .extra-large {
        display: block;
    }
    h1{
        color: black;
    }
}